.text-width-image-wrapper {
  .text-width-image {
    display:flex;
    align-items: center;
    background-color: #92301b;
    &_left {
      width: 50%;
      display:flex;
      align-items: center;
      justify-content:center;
      height:100%;
      span {
        padding:10px 0;
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        font-weight: 500;
        width: 299px;
        @media (max-width:576px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    &_right {
      width: 50%;
      img {
        width: 100%;
      }
      @media (max-width:576px) {
        width: 100%;
      }
    }
    @media (max-width:576px) {
      flex-direction: column;
    }
  }
}